einops==0.6.1
h5py==3.8.0
imgaug==0.4.0
kornia==0.6.12
matplotlib==3.6.2
MedPy==0.4.0
numpy==1.23.5
opencv_python_headless==4.8.0.76
pandas==1.5.2
scipy==1.11.2
SimpleITK==2.2.1
thop==0.1.1.post2209072238
timm==0.6.12
torch==1.13.1+cu117
torchmetrics==0.9.3
torchvision==0.14.1+cu117
tqdm==4.64.1
